.insurance {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;

  & .nav-banner {
    background-color: #f6f8f8;
    border-bottom: solid 1px #cfd4d7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 63px;
    z-index: 2;

    & .nav-left {
      padding: 20px;
      font-size: 14px;
    }
    & .nav-center {
      font-weight: 600;
    }
    & .nav-right {
      padding: 20px;
      font-size: 14px;
    }
  }
}

.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  min-width: fit-content;
  margin-top: 24px;
  & .info-div {
    width: 30%;
  }
  & p {
    font-size: 12px;
    color: #73787b;
    line-height: 140%;
  }
  & .info-p {
    font-weight: 600;
    color: black;
  }
}