.login-page {
    background-color: #f6f8f8;
    height: 100vh;
    padding: 20% 25%;

    .login-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .login-form {
        width: 50%;
    }
}