@import url("https://rsms.me/inter/inter.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-y: hidden;
  overflow-x: auto;
  margin: 0;
}

.App {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  cursor: default;
}

.fullscreen {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100vh;
}

.blue-link {
  color: #1b93c5;
  text-decoration: none;
  outline-style: none;
  cursor: pointer;

  &:hover {
    color: #75cef5;
  }
}

.nda {
  color: red;
  font-weight: 600;
  font-size: 32px;
  position: fixed;
  border: solid 1px red;
  padding: 10px;
  top: 10px;
  left: 40.5%;
  z-index: 100;
  backdrop-filter: blur(8px);
}