.home-page {
  background-color: #f6f8f8;
  display: flex;
  min-width: 800px;
  & p {
    margin: 0;
    padding: 0;
  }

  & .toggle-sidebar-home {
    background-color: #ffffff98;
    border: solid 1px #cfd4d7;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 10px;
    top: 43.5vh;
    cursor: pointer;
    z-index: 10;
    & .caret-div {
      position: relative;

      & .caret-icon {
        position: absolute;
        bottom: -45px;
        right: 19px;
        color: #8c94998a;
        rotate: 180deg;
      }
    }
    &:hover {
      border: solid 1px #9b9b9b;
      box-shadow: 0 0 7px #cfd4d7;
      background-color: #ffffff;
      & .caret-icon {
        color: #616161;
      }
    }
    &.hidden {
      display: none;
    }
  }
}

.no-patient {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 29vh;
  & p {
    margin-top: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 140%;
    color: #73787b;
  }
}

.patient {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;

  & .patient-found-banner {
    background-color: #f6f8f8;
    border-bottom: solid 1px #cfd4d7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 0 0 63px;
    color: #1b93c5;
    font-weight: 600;
    z-index: 2;
  }

  & .patient-info {
    margin: 20px 0;
    display: flex;
    flex-direction: column;

    & .patient-img {
      margin-right: 30px;
    }

    & .patient-info-top {
      display: flex;
      flex-direction: row;
      & h1 {
        font-size: 40px;
      }

      & .patient-details {
        display: flex;
        flex-direction: column;

        & .patient-details-bottom {
          display: flex;
          flex-direction: row;
          margin-top: 12px;
          min-width: fit-content;
          white-space: nowrap;

          & .info-div {
            padding-right: 82px;
            padding-left: 20px;
            border-right: solid 1px #cfd4d7;
            & p {
              font-size: 14px;
              line-height: 120%;
              margin: 5px 0;
            }
            &.left {
              padding-left: 0px;
            }
            &.right {
              border-right: none;
              padding-right: 0;
            }
            & .email {
              text-decoration: underline;
              color: #1b93c5;
              cursor: pointer;
              &:hover {
                color: #4ebeee;
              }
            }
          }
        }
      }
    }
    .emt-info {
      background-color: #f6f8f8;
      border-radius: 10px;
      padding: 10px 15px;
      margin-top: 20px;

      & p {
        margin: 0;
        line-height: 120%;
        font-size: 14px;
      }
    }
  }

  .patient-data-rows {
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    white-space: nowrap;

    & .patient-data-row {
      flex: 0 0 70px;
      display: flex;
      border-bottom: solid 1px #cfd4d7;
      align-items: center;
      font-size: 14px;

      &:last-child {
        border-bottom: none;
      }

      & .row-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & .title {
          font-weight: 600;
          line-height: 170%;
          padding-right: 10px;
        }
        & .subtitle {
          font-size: 12px;
        }
        & .metric-value {
          display: flex;
          align-items: center;
          white-space: nowrap;
          min-width: fit-content;
          & p {
            margin-right: 15px;
          }
          &.vitals {
            font-size: 30px;
            font-weight: 600;
          }
        }
        & .lb-button {
          border: solid 1px #1b92c54b;
          width: 140px;
          &:hover {
            border: solid 1px #1b92c5;
          }
        }
      }

      & .no-content {
        font-style: italic;
      }
    }
  }
}

//------ Media Queries

@media screen and (max-width: 1032px) {
  .info-div {
    padding-right: 30px !important;
  }
}
