.sidebar {
  background-color: #ffffff;
  height: 100vh;
  flex: 0 0 25%;
  min-width: 260px;
  max-width: 450px;
  box-shadow: 5px 0px 8px #00000015;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-bottom: 0px;
  min-width: fit-content;
  white-space: nowrap;
  z-index: 10;

  & .sb-header {
    flex: 0 0 63px;
    background-color: #f6f8f8;
    border-bottom: solid 1px #cfd4d7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & .sb-header-left {
      padding: 20px 15px;
    }
    & .sb-header-center {
      font-weight: bold;
      font-size: 16px;
      padding-right: 10px;
    }
    & .sb-header-right {
      padding: 18px 20px 16px;
      cursor: pointer;
      &:hover {
        svg path {
          fill: #75cef5;
        }
      }
    }
  }

  & .sb-body {
    background-color: #ffffff;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;

    & .button-wrapper {
      position: relative;
      & .svg-wrapper {
        position: absolute;
        top: 9px;
        left: 9px;
        cursor: pointer;
      }
    }

    & p {
      display: flex;
      justify-content: center;
    }
    & .lb-buttons-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: 37px;
      & .lb-button {
        margin-bottom: -5px;
      }
      & .gray-border-button {
        margin-bottom: 12px;
      }
    }

    & .gray-input {
      margin-bottom: 6px;
    }

    & .green-button {
      margin-top: 25px;
    }

    & .hr-bar {
      margin-top: 33px;
      border-bottom: solid 1px #cfd4d7;
    }
  }

  & .sb-footer {
    display: flex;
    margin-top: auto;
    & .graydient-button {
      border-radius: 0;
    }
  }

  &.collapsed {
    display: none;
  }
}

.toggle-sidebar-wrapper {
  position: relative;
}
.toggle-sidebar {
  background-color: #ffffff98;
  border: solid 1px #cfd4d7;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  position: absolute;
  right: -58px;
  top: -21px;
  cursor: pointer;
  & .caret-div {
    position: relative;

    & .caret-icon {
      position: absolute;
      bottom: -43px;
      right: 22px;
      color: #8c9499;
    }
  }
  &:hover {
    border: solid 1px #9b9b9b;
    background-color: #ffffff;
    box-shadow: 0 0 7px #cfd4d7;
    & .caret-icon {
      color: #616161;
    }
  }
}
